<a href="https://colab.research.google.com/github/amrozsiddiqui/Hello-World/blob/master/OSTL_Lab_1_Basics_of_Python_FH2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics

In [1]:
# Printing a string
print("Hello, Python!")
print('hi')
print("Why is a Raven like a writing desk?")

Hello, Python!
hi
Why is a Raven like a writing desk?

### Variables

In [0]:
# defining a variable : In Python there is no need to mention the data type

var1 = 10      # An integer assignment
var2 = 3.146   # A floating point
var3 = "Hello" # A string

print(var1,' ',var2,' ',var3)

10   3.146   Hello

### Assignments

In [0]:
# Assigning same value to multiple variables

var1 = var2 = var3 = 1
print(var1,' ',var2,' ',var3)

# Assigning Different values to variable in a single expression

var1, var2, var3 = 1, 2.5, "john"
print(var1,' ',var2,' ',var3)

# Note: commas can be used for multi-assignments

1   1   1
1   2.5   john

### Slicing

In [0]:
# String operations

str = 'Hello World!'  # A string

print(str)          # Prints complete string
print(str[0])       # Prints first character of the string
print(str[2:5])     # Prints characters starting from 3rd to 5th element
print(str[2:])      # Prints string starting from 3rd character
print(str[:2])
print(str * 2)      # Prints string two times
print(str + "TEST") # Prints concatenated string

Hello World!
H
llo
llo World!
He
Hello World!Hello World!
Hello World!TEST

### Data Types

In [0]:
# Python Lists
list = [ 'abcd', 76 , 2.23, 'john', 70.2 ]  # A list
tuple = ( 'abcd', 76 , 2.23, 'john', 70.2  ) # A tuple. Tuples are immutable, i.e. cannot be edit later

print(list)            # Prints complete list
print(list[0])         # Prints first element of the list
print(tuple[1:3])        # Prints elements starting from 2nd till 3rd

['abcd', 76, 2.23, 'john', 70.2]
abcd
(76, 2.23)

#### Dictionaries

In [0]:
# Lists are ordered sets of objects, whereas dictionaries are unordered sets. 
# But the main difference is that items in dictionaries are accessed via keys and not via their position.
tel = {'Sherlock': 4098, 'Watson': 4139}
tel['Moriarty'] = 4127
print(tel)
print(tel['Sherlock'])
del tel['Watson']
tel['Lestrade'] = 4127
print(tel)
print(tel.keys())
print(sorted(tel.keys()))
print(sorted(tel.values()))
print('Lestrade' in tel)
print('Watson' not in tel)
print('Watson' in tel)

{'Sherlock': 4098, 'Watson': 4139, 'Moriarty': 4127}
4098
{'Sherlock': 4098, 'Moriarty': 4127, 'Lestrade': 4127}
dict_keys(['Sherlock', 'Moriarty', 'Lestrade'])
['Lestrade', 'Moriarty', 'Sherlock']
[4098, 4127, 4127]
True
True
False

### Conditioning and Looping

In [0]:
# Square of Even numbers

for i in range(0,10):
    
    if i%2 == 0:
        print("Square of ",i," is :",i*i)
        
    else:
        print(i,"is an odd number")

Square of  0  is : 0
1 is an odd number
Square of  2  is : 4
3 is an odd number
Square of  4  is : 16
5 is an odd number
Square of  6  is : 36
7 is an odd number
Square of  8  is : 64
9 is an odd number

### Built-in Functions

In [0]:
print("Sum of array: ",sum([1,2,3,4]))
print("Length of array: ",len([1,2,3,4]))
print("Absolute value: ",abs(-1234))
print("Round value: ",round(1.2234))

import math as mt      # importing a package
print("Log value: ",mt.log(10))

Sum of array:  10
Length of array:  4
Absolute value:  1234
Round value:  1
Log value:  2.302585092994046

### Functions

In [0]:
def area(length,width):
    return length*width
are = area(10,20)
print("Area of rectangle:",are)

Area of rectangle: 200

### Class

In [0]:
class my_class:
    
    mean_x = 0
    mean_y = 0
    
    def __init__(self,i,j):
        self.x = i
        self.y = j
        
        
    def show(self):
        print (self.x)
        print (self.y)
        
    def mean(self):
        sizex = len(self.x)
        sumx = 0
        for i in self.x:
            sumx = sumx + i
        sizey = len(self.y)
        sumy = 0
        for i in self.y:
            sumy = sumy + i            
        
        mean_x = sumx/sizex
        mean_y = sumy/sizey
        self.mean_x = mean_x
        self.mean_y = mean_y
        
        print ("Mean x : ",mean_x)
        print ("Mean y : ",mean_y)

def main():
    x = [0,1,2,3,4,5,6,7,8,9]
    y = [1,2,4,5,4,3,7,6,7,8]
    
    obj_ref = my_class(x,y)
    obj_ref.show()
    obj_ref.mean()        
        
main()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 4, 5, 4, 3, 7, 6, 7, 8]
Mean x :  4.5
Mean y :  4.7